
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="page-header page-header-big text-center" style="background-image: url(@Url.Content("~/assets/images/about-header-bg.jpg"))">
        <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
    </div><!-- End .page-header -->
</div><!-- End .container -->

<div class="page-content pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-3 mb-lg-0">
                <h2 class="title">Tầm nhìn của chúng tôi</h2><!-- End .title -->
                <p >Chúng tôi mong muốn trở thành một điểm đến tin cậy cho các khách hàng yêu thích mỹ phẩm. Tầm nhìn của chúng tôi là đem đến cho khách hàng những sản phẩm chất lượng cao và các dịch vụ tuyệt vời để giúp họ tự tin và tươi trẻ hơn.</p>
            </div><!-- End .col-lg-6 -->

            <div class="col-lg-6">
                <h2 class="title">Nhiệm vụ của chúng tôi</h2><!-- End .title -->
                <p>Chúng tôi cam kết cung cấp những sản phẩm mỹ phẩm chất lượng cao, đáp ứng nhu cầu làm đẹp của khách hàng. Ngoài ra, chúng tôi còn đảm bảo cung cấp các dịch vụ chăm sóc khách hàng tốt nhất để đáp ứng mọi yêu cầu và mang lại trải nghiệm mua sắm trực tuyến tuyệt vời nhất cho khách hàng của chúng tôi. </p>
            </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->

        <div class="mb-5"></div><!-- End .mb-4 -->
    </div><!-- End .container -->

    <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 mb-lg-0">
                    <h2 class="title">Vây, chúng tôi là ai?</h2><!-- End .title -->
                    <p class="mb-2">Thị trường bán lẻ của các mặt hàng mỹ phẩm ngày càng tăng mạnh với sự xuất hiện hàng loạt các trung tâm, siêu thị, cửa hàng điện tử lớn. Trước sự cạnh tranh căng thẳng, bạn buộc phải tìm một cách tiếp cận khách hàng mới. Và bán hàng trực tuyến chính là giải pháp. Với việc xây dựng một website, khách hàng có thể chủ động tìm kiếm thông tin về cửa hàng của bạn. Việc mua sắm diễn ra 24/7 và không gặp cản trở nào về địa lý.<br /> <br /> Cửa hàng của chúng tôi cung cấp các sản phẩm làm đẹp chất lượng cao từ các thương hiệu hàng đầu trên thị trường. Tại đây, bạn có thể tìm thấy các sản phẩm như điện nước hoa, son, kem chống nắng,... và nhiều hơn nữa. Chúng tôi cam kết cung cấp cho bạn sản phẩm chất lượng và dịch vụ khách hàng tốt nhất để đảm bảo bạn có trải nghiệm mua sắm tuyệt vời trên trang web của chúng tôi.</p>
                </div><!-- End .col-lg-5 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .bg-light-2 pt-6 pb-6 -->
</div><!-- End .page-content -->

